<?xml version="1.0"?>
<!--
  Real-robot URDF for running the RL policy.

  Mechanically identical to four_bar_bot_description's four_bar_bot.urdf.xacro
  (same leg macros), but the ros2_control block differs:
    * command interface `position` -> MD80 IMPEDANCE mode
    * impedance gains kp/kd and max_torque default to the values the policy
      was trained against (kp=20, kd=1, +/-6 Nm). Override via xacro args
      for cautious first tests, e.g. max_torque:=2
    * the BMX160 IMU ros2_control sensor is instantiated (it is commented out
      in the original description).
-->
<robot name="quadruped" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find four_bar_bot_description)/urdf/inertia.urdf.xacro" />
  <xacro:include filename="$(find four_bar_bot_description)/urdf/leg.urdf.xacro" />
  <xacro:include filename="$(find fbb_policy)/urdf/fbb_ros2_control.urdf.xacro" />

  <xacro:arg name="kp" default="20.0" />
  <xacro:arg name="kd" default="1.0" />
  <xacro:arg name="max_torque" default="6.0" />
  <xacro:arg name="usb_port" default="/dev/ttyACM0" />
  <xacro:arg name="imu_port" default="/dev/ttyACM1" />

  <material name="grey">
    <color rgba="0.5 0.5 0.5 1" />
  </material>

  <link name="base_link" />

  <link name="body_link">
    <visual>
      <origin rpy="0 0 ${pi}" xyz="0.0 0 0" />
      <geometry name="base_link">
        <mesh filename="package://four_bar_bot_description/meshes/base_link.dae" />
      </geometry>
      <xacro:grey_material />
    </visual>
    <collision>
      <origin rpy="0 0 ${pi}" xyz="0.0 0 0" />
      <geometry name="base_link">
        <mesh filename="package://four_bar_bot_description/meshes/base_link.dae" />
      </geometry>
    </collision>
    <xacro:box_inertia m="50.0" w="0.59" h="0.225" d="0.1" xyz="0.01 0 0.06" />
  </link>

  <joint name="body_to_base_joint" type="fixed">
    <parent link="base_link" />
    <child link="body_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <link name="imu_link" />
  <joint name="imu_joint" type="fixed">
    <parent link="base_link" />
    <child link="imu_link" />
    <origin xyz="0.0 0.0 0.1" rpy=" 0.0 ${pi} 0.0" />
  </joint>

  <xacro:leg prefix="rear_left" xyz="-0.131 0.06 0.06" rpy="0 0 ${pi}" first_joint_offset="${pi}"
    third_joint_gear_correction_dir="-1.0" />
  <xacro:leg prefix="rear_right" xyz="-0.131 -0.06 0.06" rpy="0 0 ${pi}" first_joint_offset="0.0"
    third_joint_gear_correction_dir="1.0" />
  <xacro:leg prefix="front_right" xyz="0.131 -0.06 0.06" rpy="0 0 0" first_joint_offset="${pi}"
    third_joint_gear_correction_dir="-1.0" />
  <xacro:leg prefix="front_left" xyz="0.131 0.06 0.06" rpy="0 0 0" first_joint_offset="0.0"
    third_joint_gear_correction_dir="1.0" />

  <xacro:fbb_ros2_control kp="$(arg kp)" kd="$(arg kd)" max_torque="$(arg max_torque)"
    usb_port="$(arg usb_port)" />
  <xacro:fbb_imu_ros2_control port="$(arg imu_port)" />
</robot>
